<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/tasks/" method="POST">
        <p><input type="text" name="TaskName" placeholder="Введите название задачи" size="18" /></p>
        <p><input type="text" name="TaskDelay" placeholder="Введите длительность выполнения задачи" size="35"/></p>
        <p><input type="text" name="TaskMessage" placeholder="Сообщение" size="18" /></p>

        <button>Создать задачу</button>
    
    </form>
</body>
</html>